# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Model & Data besar
*.h5
*.keras
*.pkl
*.csv
*.xlsx

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/